{
  "plugins": [
    ["react-loadable/babel"]
  ],
  "env": {
    "server": {
      "plugins": [
        ["module-resolver", {
          "root": ["."],
          "alias": {
            "ui": "./ui",
            "server": "./server"
          }
        }],
        ["react-loadable/babel"]
      ]
    }
  }
}